.products-firestore {
    display: flex;
    width: 100%;
   
    /* justify-content: space-around; */
    flex-direction: row;
    /* margin-right: 10%; */
    margin-left: 12%;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .filter-product {
    display: flex;
    width: 80%;
  
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
  }
  .category-label {
    margin-left: 35%;
    padding-top: 50px;
    color: #1688e3;
  }
  .product {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 600px;
  
    margin-left: 5px;
  }
  .product img {
    width: 100%;
  
    /* border-radius:15px */
  }
  
  .pro-price{
    color: rgb(87, 87, 87);
    text-align: center;
    border-radius: 15px;
    /* padding: 10px; */
    font-size: 14px;
    height: 50px;
    
    margin-top:-15%
  }
  .pro-name{
    color: rgb(87, 87, 87);
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    height: 50px;
  }
  
  .product button {
    border: 1px solid #ddd;
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 1px 1px 1px 1px #fff;
    margin-top: -20%;
  }
  .product button:hover{
    background-color: #ddd
  }
  .selected {
    margin-left: 45%;
    width: 50px;
    margin-top: -1.5%;
  }
  .selected-input {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
  }