.product-details {
    display: flex;
    /* width: 50%; */
    margin-left: 15%;
    margin-top: 5%;
  }
  .product-details img {
    width: 45%;
    height: 500px;
  }
  .product-details-description {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    /* background-color: #FFD72F; */
    width: 500px;
  }
  .product-details-description img {
    height: 50px;
    width: 50px;
  }
  .product-details-description h3 {
    color: #000000;
    font-size: 30px;
    padding-top: 15px;
  }
  .product-details-description p {
    padding-top: 15px;
    line-height: 1.8;
    color: #2c2b2d;
    width: 100%;
  }
  .productName {
    color: #a7b5c1;
  }
  .productDescription {
    color: #a7b5c1;
    padding-top: 15px;
  }
  .price {
    font-weight: bold;
    color: #000000;
    padding-top: 16px;
  }
  .amount {
    font-weight: bold;
    color: #000000;
    padding-top: 16px;
    display: flex;
  }
  .amount-btns {
    /* margin-top:2% */
  }
  .btn-details {
    padding: 10px;
    background-color: #fff;
    color: #000000;
    border: none;
    margin-top: 15px;
    width: 100%;
    border: 1px solid #ddd;
  }
  .btn-details:hover{
    background-color: #ddd
  }
  .btn-amount {
    padding: 5px;
    background-color: #1688e3;
    color: #ffffff;
    border: none;
  }