/* NavBar*/
.nav-container{
  display:flex;
  justify-content:space-between;
  justify-items: center;
  background-color: #ff0;
  border-radius:10px;
}
.logo{
  color: #0000;
  font-weight: bold;
  font-size: 12px;
  padding-left: 15px;
}
.list{
  display:flex;

  
}
.list a{
  padding:20px 20px;
  font-size:12px;
  font-weight:600
}
.navBar-icon{
  display:flex;
  margin-top:15px;
  margin-right:10px;
}