* {
  margin: 0px;
  padding: 0px;
  font-family: Missguided, Arial, sans-serif;
}
body {
  background-color: rgb(252, 252, 252);
}




.success
{
  color: #ff2020;
  padding-left: 30%;
}






.error{
  color: #fff;

  opacity:0.8;
  margin-right:50%;
  margin-top:15px;
  padding-left:35%;
  padding-top:5px;
  padding-bottom:5px
}