*{
  margin: 0px;
  padding: 0px;
  font-family: Arial
}

/* NavBar*/
.nav-container{
  display:flex;
  justify-content:space-between;
  justify-items: center;
  background-color: #fff;
  border-radius:10px;
  margin: 2px 15px;
}
.logo{
  color: #000;
  font-weight: bold;
  font-size: 12px;
  padding-left: 15px;
  display:flex;
  align-items:center;
}
.list{
  display:flex;
  align-items:center;
  
}
.list a{
  padding:20px 20px;
  font-size:12px;
  font-weight:600
}
.navBar-icon{
  display:flex;
  align-items:center;
  margin-right:20px;
 
}

.cart{
  border: 1px solid #ccc;
  margin-right: 20px;
  padding:10px;
  background-color: #1688E3;
  border-radius:50%;
  color: #fff;
}
.search-icon{
margin-right:15px;
color: #000;
font-size:20px
}
/* Header*/
.header-container{
 
  height: 600px;
  width: 100%;
  background-color:#C0DAFF
}

/* sub header*/ 
.subheader-description{
  display:flex;
  flex-direction: column;
  width: 50%;

  padding-top:50px;
  padding-left: 100px;

}

.subheader-description h1{
  font-size:45px;
  color:#2C2B2D
 
}
.subheader-description p{
  color: #A7B5C1;
  font-size: 12px;
  line-height:1.8;
  padding-top: 15px;
}
.subheader-description button{
background-color:#1688E3;
border:none;
border-radius:10px;
color: #fff;
font-size:18px;
font-weight:bold;
width: 25%;
padding:10px 20px;
margin-top:12px
}